In [6]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt

# Show all columns when displaying DataFrames
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv(r'../data/raw/chicago_crime_2001_2025.csv')

In [7]:
# Ensure 'Date' column is datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Extract year
df['Year'] = df['Date'].dt.year

# Group by Year and Primary Type, then count
yearly_counts = df.groupby(['Year', 'Primary Type']).size().reset_index(name='Count')

# Pivot to get Years as index, Crime Types as columns
crime_pivot = yearly_counts.pivot(index='Year', columns='Primary Type', values='Count').fillna(0).astype(int)

# View the result
crime_pivot.head()

Primary Type,ARSON,ASSAULT,BATTERY,BURGLARY,CONCEALED CARRY LICENSE VIOLATION,CRIM SEXUAL ASSAULT,CRIMINAL DAMAGE,CRIMINAL SEXUAL ASSAULT,CRIMINAL TRESPASS,DECEPTIVE PRACTICE,DOMESTIC VIOLENCE,GAMBLING,HOMICIDE,HUMAN TRAFFICKING,INTERFERENCE WITH PUBLIC OFFICER,INTIMIDATION,KIDNAPPING,LIQUOR LAW VIOLATION,MOTOR VEHICLE THEFT,NARCOTICS,NON-CRIMINAL,OBSCENITY,OFFENSE INVOLVING CHILDREN,OTHER NARCOTIC VIOLATION,OTHER OFFENSE,PROSTITUTION,PUBLIC INDECENCY,PUBLIC PEACE VIOLATION,RITUALISM,ROBBERY,SEX OFFENSE,STALKING,THEFT,WEAPONS VIOLATION
Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2001,1011,31380,93445,26003,1,1683,55843,25,13237,14740,1,934,667,0,405,278,933,1636,27541,50554,0,19,2064,6,29610,6025,9,2748,8,18438,2112,203,98419,4273
2002,944,28764,85544,22836,0,1516,50640,26,12607,11613,0,887,656,0,322,297,748,1246,22568,46367,0,22,2029,4,29098,5724,7,2257,2,16592,1853,173,86500,3887
2003,10,227,822,229,0,19,519,4,133,69,0,1,598,0,5,4,6,0,225,21,0,0,24,0,309,2,0,16,0,236,16,3,839,48
2004,3,46,96,20,0,7,9,8,3,12,0,0,454,0,1,0,0,0,6,10,0,0,20,0,10,1,0,3,0,4,5,1,150,2
2005,0,49,113,23,0,7,22,6,7,29,0,1,451,0,1,0,0,1,14,39,0,0,18,0,32,2,0,1,0,34,7,0,181,2

In [10]:
#save the cleaned DataFrame to a new CSV file
crime_pivot.to_csv('../data/crime_pivot.csv')